<h1>This is the Delete page</h1>

<section class="eight wide column" ng-controller="DeleteController">
    <h3 class="ui dividing header">Delete User</h3>
    <section class="ui rasied form segment user">
        <div class="two fields">
            <div class="field">
                <div class="column"  >
                    <!--<div class="ui selection dropdown" id="deleteUser">
                        <input name="deleteUser" type="hidden">
                        <div class="default text">Select User</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                                <div class="item userlist" ng-repeat="user in allusers" value={{user.id}}>{{user.email}} </div>
                        </div>
                    </div>-->
                    <select>
                        <option ng-repeat="user in allusers" value={{user.id}}>{{user.email}}</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="ui black submit button" ng-click="DeleteUser()">Delete User <i class="trash icon"></i></button>
    </section>
</section>
<script>$('.ui.selection.dropdown').dropdown();</script>